{% extends 'base.html' %}
{% load static %}
{% block title %}Commission List{% endblock %}
{% block content %}
    <body>
        <h1>Commissions:</h1>
        {% for c in object_list %}
            <h4>
            <li>
                <a href="{{ c.get_absolute_url }}">
                    {{ c }}
                </a>
                - {{ c.get_status_display }}
            </li>
            </h4>
        {% endfor %}

        {% if request.user.is_authenticated %}
            <h1>Created Commissions:</h1>
            {% for d in user.profile.commissions.all %}
                <h4>
                <li>
                    <a href="{{ d.get_absolute_url }}">
                        {{ d }}
                    </a>
                    - {{ d.get_status_display }}
                </li>
                </h4>
            {% endfor %}

            <h1>Applied Commissions:</h1>
            {% for e in user.profile.jobApplications.all %}
                <h4>
                <li>
                    <a href="{{ e.job.commission.get_absolute_url }}">
                        {{ e.job.commission }}
                    </a>
                    - {{ e.get_status_display }}
                </li>
                </h4>
            {% endfor %}
        {% else %}
        {% endif %} 

        <h2>
            <a href="{% url 'commissions:commission-create' %}">
                Make a Commission
            </a>
        </h2>
    </body>
{% endblock %}