{% extends 'base.html' %}
{% load static %}
{% block title %}Commission List{% endblock %}
{% block content %}
    <body>
        <h1>Commissions:</h1>
        {% for c in object_list %}
            <h2>
            <li>
                <a href="{{ c.get_absolute_url }}">
                    {{ c }}
                </a>
                - {{ c.get_status_display }}
            </li>
            </h2>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <h1>Created Commissions:</h1>
            <h1>Applied Commissions:</h1>
        {% else %}
        {% endif %} 
    </body>
{% endblock %}