{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <body>
        <h1>Dashboard - {{ object }}</h1>
    
        <h3>List of Products Bought: </h3>

        <h3>List of Products Sold: </h3>

        <h3>List of Wiki Articles Created: </h3>

        <h3>List of Blog Articles Created: </h3>

        <h3>List of Threads Created: </h3>

        <h3>List of Commissions Created: </h3>
        {% for cc in object.commissions.all %}
            <h4>
            <li>
                <a href="{{ cc.get_absolute_url }}">
                    {{ cc }}
                </a>
            </li>
            </h4>
        {% endfor %}

        <h3>List of Commissions Joined: </h3>
        {% for cj in object.jobApplications.all %}
            <h4>
            <li>
                <a href="{{ cj.job.commission.get_absolute_url }}">
                    {{ cj.job.commission }}
                </a>
            </li>
            </h4>
        {% endfor %}

    </body>
{% endblock %}